@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Square+Peg&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:wght@100;500&family=Square+Peg&display=swap');

@import url('https://fonts.googleapis.com/css?family=Varela+Round');


*{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}


.background-color {
background-image: url(../images/fondo-2.webp);
height: 100%;
min-height: 100vh;
background-size: contain; 
background-repeat: repeat;
}


.title--big {
    display: flex;
    justify-content: center;
    font-family: 'Bangers', cursive;
    padding-bottom: 30px;
    font-size: 50px;
    letter-spacing: 6px;
    color: rgb(248, 248, 247);
    background-color: rgb(88, 155, 155);
    animation: move linear 2000ms infinite;
}


@keyframes move {
    0% {
      text-shadow:
        4px -4px 0 hsla(0, 100%, 50%, 1), 
        3px -3px 0 hsla(0, 100%, 50%, 1), 
        2px -2px 0 hsla(0, 100%, 50%, 1), 
        1px -1px 0 hsla(0, 100%, 50%, 1),
        -4px 4px 0 hsla(180, 100%, 50%, 1), 
        -3px 3px 0 hsla(180, 100%, 50%, 1), 
        -2px 2px 0 hsla(180, 100%, 50%, 1), 
        -1px 1px 0 hsla(180, 100%, 50%, 1)
      ;
    }
    25% {    
      text-shadow:      
        -4px -4px 0 hsla(180, 100%, 50%, 1), 
        -3px -3px 0 hsla(180, 100%, 50%, 1), 
        -2px -2px 0 hsla(180, 100%, 50%, 1), 
        -1px -1px 0 hsla(180, 100%, 50%, 1),
        4px 4px 0 hsla(0, 100%, 50%, 1), 
        3px 3px 0 hsla(0, 100%, 50%, 1), 
        2px 2px 0 hsla(0, 100%, 50%, 1), 
        1px 1px 0 hsla(0, 100%, 50%, 1)      
      ;
    }
    50% {
      text-shadow:
        -4px 4px 0 hsla(0, 100%, 50%, 1), 
        -3px 3px 0 hsla(0, 100%, 50%, 1), 
        -2px 2px 0 hsla(0, 100%, 50%, 1), 
        -1px 1px 0 hsla(0, 100%, 50%, 1),
        4px -4px 0 hsla(180, 100%, 50%, 1), 
        3px -3px 0 hsla(180, 100%, 50%, 1), 
        2px -2px 0 hsla(180, 100%, 50%, 1), 
        1px -1px 0 hsla(180, 100%, 50%, 1)
      ;
    }
    75% {
      text-shadow:
        4px 4px 0 hsla(180, 100%, 50%, 1), 
        3px 3px 0 hsla(180, 100%, 50%, 1), 
        2px 2px 0 hsla(180, 100%, 50%, 1), 
        1px 1px 0 hsla(180, 100%, 50%, 1),
        -4px -4px 0 hsla(0, 100%, 50%, 1), 
        -3px -3px 0 hsla(0, 100%, 50%, 1), 
        -2px -2px 0 hsla(0, 100%, 50%, 1), 
        -1px -1px 0 hsla(0, 100%, 50%, 1)      
      ;
    }
    100% {
      text-shadow:
        4px -4px 0 hsla(0, 100%, 50%, 1), 
        3px -3px 0 hsla(0, 100%, 50%, 1), 
        2px -2px 0 hsla(0, 100%, 50%, 1), 
        1px -1px 0 hsla(0, 100%, 50%, 1),
        -4px 4px 0 hsla(180, 100%, 50%, 1), 
        -3px 3px 0 hsla(180, 100%, 50%, 1), 
        -2px 2px 0 hsla(180, 100%, 50%, 1), 
        -1px 1px 0 hsla(180, 100%, 50%, 1)
      ;
    }  
  }

.container_filters {
    background-color: rgba(205, 206, 206, 0.863);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.filter {
&__label {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    &__input {
        border-color: rgb(88, 155, 155);
        padding-left: 20px;
        margin-left: 20px;
        height: 25px;
    }
    &__select {
        border-color: rgb(88, 155, 155);
        padding-left: 20px;
        margin-left: 20px;
        cursor: pointer;
        width: 200px;
        height: 30px;
    }
}
}

.container_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.list{
    display: flex;
      justify-content: center;
      width: 100%;
      flex-wrap: wrap;
      list-style: none;
      padding-right: 30px;
      padding: 40px 40px 40px 60px;
      :hover{
        background-color: rgb(177, 245, 100);  
     }

     &__li{
         border-bottom: 30px;
         padding: 20px 10px 10px 10px;
         margin-right: 30px;
         margin-top: 30px;
         width: 280px;
         height: 480px;
         background-color: rgb(196, 196, 196);      
         display: flex;
         justify-content: center;
         border-radius: 20px;

         :hover{
            background-color: rgb(177, 245, 100);  
         }
        
         a:link {
            text-decoration: none;
          }
         &__img {
            width: 250px;
            height: 350px;
            display:block;
            margin:auto;
            border-radius: 10px;
            :hover{
                background-color: rgb(177, 245, 100);  
             }
            
        }
        &__title {
            color: rgb(114, 114, 114);
            font-size: 20px;
            margin-top: 10px;
            margin-bottom: 5px;
            display: flex;
            justify-content: center;
         
        }
        &__year {
            color: rgb(88, 155, 155);
            font-weight: bold;
            margin-bottom: 5px;
            display: flex;
            justify-content: center;
         
        }
        &__phrase {
            color: rgb(0, 0, 0);
            font-size: 15px;
            text-align: center;
            display: flex;
            justify-content: center;
         
        }
     }       
}
